
* {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Arial, sans-serif;
}

#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc;
}


#tooltip {
    position: absolute;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
}

#tickmarks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -10px;
  }
  
  #tickmarks option {
   
    width: 100vw;
    height: 20px;
    background: transparent;
    color: black;
    font-size: 12px;
  }



#yearSlider{
    width: 95%;
}
    